@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000;
  color: #f6f6f6;
}

.title-emphasis {
  color: #22d4fd;
}

.preview {
  margin: 10% 19%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview__content {
  width: 38.438rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.preview__content__title {
  font-size: 2.25rem;
  font-family: 'Krona One', sans-serif;
}

.preview__content__text {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.preview__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.preview__links__subtitle {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.preview__links__link {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #22d4fd;
  font-weight: 600;
  text-decoration: none;
  color: #f6f6f6;

  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 23.625rem;
  border-radius: 8px;
  padding: 1.344rem 0;

  text-align: center;
  font-size: 1.5rem;

  transition: all 0.2s;
}

.preview__links__link:hover {
  background-color: #272727;
  padding: 3%;
}
